In [12]:
(lambda x,y : (1,2))(3,4)

(1, 2)

In [15]:
(lambda x,y : 1,2)(3,4)

<>:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
C:\Users\yejik\AppData\Local\Temp\ipykernel_12360\440575379.py:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  (lambda x,y : 1,2)(3,4)
C:\Users\yejik\AppData\Local\Temp\ipykernel_12360\440575379.py:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  (lambda x,y : 1,2)(3,4)
C:\Users\yejik\AppData\Local\Temp\ipykernel_12360\440575379.py:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  (lambda x,y : 1,2)(3,4)

TypeError: 'tuple' object is not callable

# 파이썬 프로그래밍 심화

## Basic Concepts of Python: Simple Statement

* simple statement: 문장 뒤에 ':'가 없음
* compound statement: 문장 뒤에 ':'가 있음

In [18]:
a = 1

- we learned that the left 'a' is variable, however we call 이름/식별자 in python 
- why?

- the right '1' is called expression
- expression: 하나의 결과값으로 축약할 수 있는 것
- therefore, it can be single variable, iterable, or even functions
- the more detailed description is in later section

In [43]:
a = 1
a

1

In [44]:
a = lambda x:2
a

In [45]:
a = 3 if 1 else 4
a

3

In [46]:
a = 3 and 2
a

2

In [47]:
a = 3 or 2
a

3

* Rules of Naming the 식별자
  * 숫자로 시작할 수 없다  -> SyntaxError
  * keyword로 시작 할 수 없다
      * keyword란? True/False, 내장 함수 등
      * Note: keyword로 시작할 수 있다. 하지만 글로벌에서 내장함수의 역할을 더 이상 수행하지 못 한다.

In [22]:
# b
# SyntaxError: invalid decimal literal

In [23]:
import keyword

In [24]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [29]:
# before naming the keyword
sum((1,2,3))

6

In [36]:
# after assigning the name to keyword
sum = 0
sum 
# sum의 기능을 잃어버림

0

In [34]:
# sum((1,2,3))
# TypeError: 'int' object is not callable

In [35]:
del sum

### pep (네이버 입사 문제)

* function의 이름을 지을 때 사용
    * moon_beauty : snake
* class 이름:
    * moonBeauty: camel
    * MoonBeauty : pascal / caps workd (=camel)
    * Note: 다른 언어에선 엄격하게 구분하지만 파이썬에서 동일하게 취급한다

## Numbers

* 파이썬엔 총 4가지의 숫자가 존재
    1. 정수형 숫자 int
    2. 소수형 숫자 float
    3. 복소수 i; complex number
    4. Boolean: True/False

* atomic vs container
    * atomic: 쪼개질 수 없는 그 하나 자체가 의미인 것
    * container: 합쳐져 있는 것; 그래서 쪼갤 수 있는 것

 > 숫자는 atomic이다

* Note: 숫자를 인간이 임의적으로 읽기 편하게 하기 위해선 _를 쓴다
    * ex) 1000000 -> 1_000_000 (same meaning)

#### 1. 정수형 숫자 int

* 문제점: 숫자의 크기가 하나만 존재
* 다른 언어는 다양한 비트로 존재한다
* therefore 편리함을 얻었지만 성능을 잃었다
* 종류는 총 4가지 (진법으로 나눈다)
    * 이진수 0b__
    * 8진수 0o__
    * 16진수 0x__
    * literal(특수문자)가 아닌 정수는 10진수

In [66]:
0b10, 0o10, 0x10, 10

(2, 8, 16, 10)

In [48]:
import sys

In [50]:
# the largest int number
sys.maxsize

9223372036854775807

* Need to KNOW: 위의 숫자보다 커지는 경우 내부적으로 새로운 가상 메모리 공간을 만들어 숫자를 늘려간다
* therefore, 연산량이 많아질수록 속도가 느려진다

#### 2. decimal number: float

* 장점: 속도가 빠르다
* 단점: 정확도가 떨어진다
    * why? 근사적으로 빠르게 계산하기 때문

In [51]:
0.1 + 0.1

0.2

In [52]:
0.1 + 0.1 + 0.1

0.30000000000000004

In [53]:
# float의 범위
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [59]:
# 한가지의 경우로 존재 
# when a is infinity
a == a + 1

True

In [57]:
a = float('inf')
a

inf

In [60]:
a == a + 1

True

In [58]:
a = 1.7976931348623157e+308
a

1.7976931348623157e+308

In [56]:
a = 1.7976931348623157e+308 + 1
a

1.7976931348623157e+308

> 근사화해서 계산하기 때문에 아주 큰 숫자에선 정확도가 더 떨어진다
> 그렇게 때문에 인공지능 및 데이터 분석에선 내장 숫자보단 numpy를 활용한다

#### 3. complex number i

In [68]:
3 + 4j

(3+4j)

#### 4. Boolean: True/False

* True = 1
* False = 0

> why? True,False를 숫자로 만들었기 때문에 print를 할때를 제외하고는 모두 0 또는 1로 취급한다

#### 그외

In [69]:
float('nan')

nan

In [70]:
3 / 7 # 나누기
3 // 7 # 몫
3 % 7 # 나머지

3

In [72]:
-3/7, -3//7, -3%7

(-0.42857142857142855, -1, 4)

In [73]:
3/-7, 3//-7, 3%-7

(-0.42857142857142855, -1, -4)

* 연산은 같은 데이터 타입 끼리만 가능하다
* BUT 정수 & 소수 연산은 가능하다
* HOW? 파이썬에서 내부적으로 정수를 소수라 변환시키기 때문

> 이것을 coercion '코어션'이라 칭한다

## 문자열

* 비트형: 대부분은 바이트 형태로 저장한다. 전세계적 호환성을 위해
    * 하지만 한글의 경우 ASCII character에 포함되지 않으므로 주로 유니코드로 형태로 저장된다 
* 유니코드

In [75]:
b'asb'  # 비트형

b'asb'

In [78]:
# b'윤정한'
# SyntaxError: bytes can only contain ASCII literal characters

In [79]:
'윤정한'

'윤정한'

In [80]:
u'윤정한'

'윤정한'

* string은 합쳤을 때 의미가 있지만, 쪼개져도 의미가 있을 수 있다
> therefore, string is container

* container의 4가지 종류
    * sequence 순서가 있는 container
        * iterable: (매우 중요!) 차례대로 뽑아낼 수 있다
        * therefore, we can do indexing and slicing, which is only available in container, not atomic
        * often used in tensorflow, numpy where all the elements are homogenous (description in next section)

In [85]:
# 'abc' + 2
# TypeError: can only concatenate str (not "int") to str

In [88]:
'abc' + 'bc'

'abcbc'

In [90]:
len('abcd') #순서가 있고 하나씩 뽑아낼 수 있으므로 길이도 존재

4

### homogenous vs heterogenous

* homogenous = same data type
    * ex) range
    * ex) np.array([1,2,3,4])
    * ex) tensorflow.constant([1,2,3])
* heterogenous = different data type
    * ex) [1,2,'3']

> the speed of homoe is faster than hetero, thus we should use homo when we process with big data

## 파이썬 자료구조

### List

* mutable data type
* iterable
* can be homo & hetero

In [97]:
a = [1,2,3,4]   # homo
b = [1,2,3,'4'] # hetero
a.append(5)     # mutable
a, b

([1, 2, 3, 4, 5], [1, 2, 3, '4'])

### Tuple

* unmutable data type
* iterable
* can be homo * hetero

In [100]:
a = (1, '2')
b = (1,)

### Set

* non-sequential -> NOT iterable
    * in specific, there is sequence in python of set, but user CANNOT define the sequence of the set. Therefore, we treat the set as non-squential  
* element repetition is not allowed

In [102]:
a = {3,3,1,2,3,5,7,6,5,5,5,5}
a

{1, 2, 3, 5, 6, 7}

In [103]:
# a[0]
# TypeError: 'set' object is not subscriptable
# bc not iterable

In [104]:
type(a)

set

In [107]:
b= {}
type(b)
# why type of empty {} is dict?
# bc when python is first created, there was no data type of set. 
# thus, set was created by the dict data type 
# therefore, we should use set by 'instance' method

dict

* NOTE:
    * instance method:
        * 기본 베이스로 채워지는 default 값은 False
        * 따라서 0 또는 '' 또는 empty 
        * a = set() 
    * literal method:
        * 특수문자를 사용해서 value를 declare  
        * a = []

In [124]:
a = int(3)
a, type(a)

(3, int)

In [125]:
a = int()
a, type(a)

(0, int)

In [127]:
a = str('abc')
a, type(a)

('abc', str)

In [128]:
a = str()
a, type(a)

('', str)

In [111]:
# a = {[1,2,3], 4, 5}
# a
# TypeError: unhashable type: 'list'
# description in dict section

### Dict(ionary)

* {key:value}
    * value = data + data type
    * and therefore data type should be important when you declare the name
    * tensor and pytorch are also the value  
* key는 hashable가능한 아이들만 가능하다
    * hashable이란? 불변하고 고유한 값을 가지며, 동일한 입력에 대해 항상 동일한 해시 값을 생성합니다.
    * 예를 들어, 숫자(int, float), 문자열(str), 튜플(tuple)은 해시 가능한 유형입니다. 그러나 리스트(list)나 딕셔너리(dictionary)와 같은 변경 가능한 데이터 유형은 해시 가능하지 않습니다. 
* set은 dict의 key를 기반으로 만들어짐. key의 특성 때문에 hetero는 가능하지만 hashable하지 않은 리스트, 딕셔너리, set과 같은 것은 올 수 없음.
    * 그래서 위의 cell에서 TypeError가 나타남.

# Compound Statement

* 조건 conditon
* 반복 repetition
* 예외 exception
* 정의 definition

## 1. 조건문

* 조건문은 존재론적인 관점에서 따진다

#### 1-1. if-else

In [129]:
# 0은 존재론적인 관점에서 instance 방법론에 의해 존재하지 않는다 
# 조건문은 존재론적인 관점에서 True/False를 여긴다 
a = 0
if a: # does a exist?
    print('a')
else:  # if a not exist
    print('b')

b

In [121]:
a = 1
if a : # if a is True
    print('a')
else: 
    print('b')
# since a = 1 = True = exist

a

In [122]:
a = 2
if a :
    print('a')
else: 
    print('b')
# since a = 2 = not None = exist

a

In [119]:
a = ''
if a :
    print('a')
else: 
    print('b')

# since a = '' = False = NOT exist

b

In [3]:
a = None
if a :
    print('a')
else: 
    print('b')

b

In [120]:
False == None

False

#### 1-2. 비교 연산자

* 비교를 할 때는 아스키코드로 변환을 하여 비교를 한다

In [130]:
'a' > 'A'

True

In [132]:
# short circuit (앞에 있는 것에만 비교를 해서 결정이 난다)
'a' > 'Aa'

True

In [138]:
# 연산자 우선순위 
1,2,3 > 3  # 1,2,3 : 튜플

(1, 2, False)

In [137]:
1,2,3 > 2

(1, 2, True)

In [135]:
(1,2,3) > (3,)

False

In [139]:
{1,2,3} > {3}

True

In [140]:
{1,2,3} < {3}

False

In [141]:
{1,2,3} < {3,1,2}

False

In [142]:
{1} < {3,1,2}

True

In [143]:
{3,1,2} < {1}

False

In [144]:
{1,2} < {3,1,2} , {3,1,2} < {1,2}

(True, False)

#### 1-3. 데이터 타입별

* !!참과 거짓은 존재론적인 관점이다
* 'and'
    * 앞이 참일 경우 뒤를 반환
    * 뒤가 참일 경우, 앞을 반환
* 'or' ('and'의 반대)
    * 앞이 참일 경우, 앞을 반환
    * 뒤가 참일 경우, 뒤를 반

> this means that they can be 축약, thus, can be expression

In [145]:
3 and 4

4

In [146]:
'' and 4

''

In [147]:
3 or 4

3

In [148]:
'' or 4

4

In [149]:
'' and 4/0
#

''

In [150]:
# '' or 4/0
# ZeroDivisionError: division by zero

## 2. 반복문

* 두가지 종류
    * for
    * while
    * Note: for가 while보다 효율적이다 except 무한루프. why? iterable한 특성 때문에
 * duck-typing
     * 오리처럼 생기고 오리처럼 꽥꽥거리면, 그것은 오리다
     * 타입이 중요하지만 해당 타입이 아니더라도 타입처럼 behavior한다면 그것을 그러한 타입이라고 간주한다

In [4]:
a = 1
a in [1,2,3], a not in [1,2,3]
# in 다음은 container & homogenous 가 와야한다

(True, False)

In [6]:
# a = 1
# a in 'abcd'
# TypeError: 'in <string>' requires string as left operand, not int

In [7]:
a = 1
'2' in 'abcd'

False

In [10]:
a = 1
dir(a)
# 해당 atomic엔 __iter__가 없다
# 따라서 non-iterable이다

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [12]:
a = [1,2,3]
dir(a)
# 해당 a에는 __iter__가 존재
# 따라서 한개씩 뽑는 것이 가능하다

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [13]:
# __iter__가 있는 확인 하는 법
'__iter__' in dir(a)

True

In [14]:
a = {1,2,3}
'__iter__' in dir(a)

True

In [16]:
# 해당 for loop은 iterable이 가능하기 때문에 실행이 된다 
for i in a:
    print(i)

1
2
3

#### view: 내가 보고싶은 것만 보는 것

In [19]:
for i in {'a':1, 'b':2, 'c':3}: 
    print(i)
# key만 보니까

a
b
c

In [20]:
for i in {'a':1, 'b':2, 'c':3}.keys(): 
    print(i)

a
b
c

In [21]:
for i in {'a':1, 'b':2, 'c':3}.values(): 
    print(i)

1
2
3

In [22]:
for i in {'a':1, 'b':2, 'c':3}.items(): 
    print(i)

('a', 1)
('b', 2)
('c', 3)

#### 2-1. iter하게 만드는 법

In [25]:
class A:
    a = 1

In [26]:
aa = A()

In [27]:
for i in aa:
    print(i)
# TypeError: 'A' object is not iterable

TypeError: 'A' object is not iterable

In [28]:
class A:
    a = 1
    def __iter__(self):
        return iter([1,2,3])

In [29]:
aa = A()

In [30]:
for i in aa:
    print(i)

1
2
3

### 2-2. reassignment

In [23]:
1 in {'a':1, 'a':2,'c':3}
# a가 중복이 되었기 때문에 reassignment

False

In [31]:
a = 1
a = 2 
a

2

In [32]:
a = b = 1

In [33]:
a = b = [1,2,3]

In [34]:
b[0] = 100

In [35]:
a

[100, 2, 3]

In [36]:
a = [1,2,3]
b = a

In [37]:
b[1] = [100]

In [38]:
a

[1, [100], 3]

In [39]:
# 같은 데이터 주소를 공유하기 때문에 하나를 바꾸면 다 바뀌어 버린다 
# 그래서 .copy() 방법을 쓰는 것이 좋다

In [40]:
a = [1,2,3]

In [41]:
b = a[:]
# or
b = a.copy()

In [42]:
a[1] = 100

In [43]:
b

[1, 2, 3]

### 2-3. unpacking

In [47]:
a, b = 1,2 # a,b = (a,b) = (1,2)
a,b

(1, 2)

In [49]:
a, b = 1,2,3 # 갯수가 같아야 한다
# ValueError: too many values to unpack (expected 2)

ValueError: too many values to unpack (expected 2)

In [50]:
a, *b = 1,2,3
# *는 모두를 뜻함 -> 따라서, 현 구문에선 나머지를 뜻하게 된다

In [52]:
b

[2, 3]

In [53]:
*a, b = 1,2,3

In [54]:
a, b # a=리스트 bc mutable

([1, 2], 3)

In [56]:
*a = 1,2,3
# 튜플 또는 리스트처럼 iterable이 가능한 아이들로 작성해야하는데
# 위의 'a'는 하나의 이름이라서 안됨
# 따러서 밑의 방법을 이용한다 
# SyntaxError: starred assignment target must be in a list or tuple

SyntaxError: starred assignment target must be in a list or tuple (1128504383.py, line 1)

In [57]:
*a, = 1,2,3

In [58]:
a

[1, 2, 3]

> 현 방법은 inmutable한 튜플을 mutable한 리스트로 변환하고자 할때 사용한다

In [60]:
import builtins
# 파이썬을 실행시키면 자동으로 import된다

In [61]:
dir(builtins)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EncodingWarning',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'aiter',
 'all',
 'anext',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [62]:
for i in dir(builtins):
    if 'Error' in i:
        print(i)

ArithmeticError
AssertionError
AttributeError
BlockingIOError
BrokenPipeError
BufferError
ChildProcessError
ConnectionAbortedError
ConnectionError
ConnectionRefusedError
ConnectionResetError
EOFError
EnvironmentError
FileExistsError
FileNotFoundError
FloatingPointError
IOError
ImportError
IndentationError
IndexError
InterruptedError
IsADirectoryError
KeyError
LookupError
MemoryError
ModuleNotFoundError
NameError
NotADirectoryError
NotImplementedError
OSError
OverflowError
PermissionError
ProcessLookupError
RecursionError
ReferenceError
RuntimeError
SyntaxError
SystemError
TabError
TimeoutError
TypeError
UnboundLocalError
UnicodeDecodeError
UnicodeEncodeError
UnicodeError
UnicodeTranslateError
ValueError
WindowsError
ZeroDivisionError

In [63]:
a = 1
++a

1

In [64]:
a += 1 # increment

In [66]:
a

2

In [68]:
# unpacking  
# 피보나치 수열 that swapping where other language cannot 
a, b = b, a+b

In [69]:
a = 3
b = 2
a, b = b,a
a,b

(2, 3)

In [70]:
import keyword

In [71]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

> 현재까지 6개의 할당에 대해 배움

### 2-4. accumulator pattern

In [72]:
sum = 0
for i in range(1,11):
    sum = sum + i

In [73]:
sum

55

In [74]:
del sum
# sum은 내장함수
# 따라서 sum의 builtin function이 사라지게 된다

In [75]:
sum_ = 0
for i in range(1,11):
    sum_  += i

In [76]:
sum_ = [] # mutable that can expand the memory space
for i in range(1,11):
    if i%2 == 0:         # look and search (보고 나서 맞춘다)
        sum_ .append(i)

In [77]:
sum_

[2, 4, 6, 8, 10]

> sum = iterable
> 한개씩 누적을 시켜서 iterator를 통해 iterable한다

In [78]:
a = [1,2,0, '', 3,4, None, 0, 'a']

In [79]:
# 참인지 아닌지 확인하고 거짓을 뽑아라
# 이때 a의 '하나씩 차례대로' 검색하며 체크한다 -> 이것을 iterable이라고 한다 
temp = []
for i in a:
    if not i: # if i is not True -> if i is False
        temp.append(i)
temp

[0, '', None, 0]

In [80]:
any(a) # 거짓이 있는지 없는지

True

In [81]:
all(a) # return true if bool(x) is True for all values x in the iterable

False

## 2-5. 에러 처리

* 에러 처리:
    * EAFP 
        * 허락보다 용서가 쉽다
        * 에러가 나면 에러처리를 그냥 놔두고 나중에 한다
        * 파이썬이 느리기 때문에 이것을 하나하나 체크하면 더 느려진다
    * LBYL
        * EAFP의 반대

* assert : 주로 디버깅 할 때 사용
    * 정해진 값이 아닐 경우 에러를 발생 시킴 -> 강제 종료가 가능

In [91]:
a = 3

In [92]:
print(int(a)+3,'살입니다')

6 살입니다

In [93]:
assert a == 3

In [94]:
assert a == 2

AssertionError:

In [95]:
assert a == 2, 'a는 3이어야 한다'

AssertionError: a는 3이어야 한다

* raise : 문제/예외를 발생시킨다
    * 중간에 값을 찾는데 도움이 많이 된다
    * 인공지능 모델링을 돌릴 때 매우 많이 활용되고 유용하게 쓰인다

In [97]:
raise

RuntimeError: No active exception to reraise

In [99]:
def divide(x, y):
    if y == 0:
        raise ZeroDivisionError("Division by zero is not allowed")
    return x / y

try:
    result = divide(10, 0)
except ZeroDivisionError as e:
    print("Error:", e)

Error: Division by zero is not allowed

* 에러가 나와도 중단하지 않는 방법

In [104]:
a = '삼'

In [105]:
type(a)

str

In [106]:
# coercion 지원 안 함
# 강제 캐스팅이 필요 
# 캐스팅이란? 연산을 통하여 타입을 바꿔줌 
b = int(a)

ValueError: invalid literal for int() with base 10: '삼'

In [107]:
# 잘못된 데이터 타입이 나올때 에러가 뜨는 것이 있지만 (싸이킷런)
# 파이토치나 텐서플로우의 경우 뜨지 않는다

In [108]:
while True:
    try: 
        a = input('숫자를 입력하세요')
        b = int(a)
        # 무한루프를 벗어나기 위해서 
    except ValueError:
        print('V')
        continue # 다시 입력 받아줘 
    else: 
        print(b-3)
        break

숫자를 입력하세요 삼

V

숫자를 입력하세요 4

1

### 2-6. with; parameter & argument

* Lazy/ resue:
    * 함수
    * 클래스
        * (유연하낟, 자유도가 높다 but 책임)(consenting adults)
     
* 인자 argument: 사용할때
* 매개변수 parameter: 정의
    * 파라미터의 수와 아규먼트의 수가 일치해야만 작동한다 
* definition/declaration: 정의한다
* 따라서, 이름이 다르다 -> 역할이 다르다

In [109]:
def x(a): # 파라미터
    print(a)

In [110]:
x(3) # argument

3

In [112]:
x()
# no of argument != no of parameter -> arguement error
# TypeError: x() missing 1 required positional argument: 'a'

TypeError: x() missing 1 required positional argument: 'a'

* 방식
    * positional: 매개변수가 선언된 순선에 따라 인자를 입력
        * 무조건 모든 인자를 입력해야 한다 
    * keywrod: 매개변수와 인자를 함께 입력
        * 필요한 것만 적어도 상관이 없다  
        * default 값은 뒤에서 부터 채운다
          
    > 혼용해서 사용해도 무관하다. 단, 한번 keyword를 쓰기 시작하면 positional을 쓸 수 없다

    * 특이사항
        * '/'를 쓰는 경우: / 앞에는 positional만 써야한다
        * '*'를 쓰는 경우:
            * (a, *, b): * 뒤에는 무조건 keyword를 써야한다
            * (*a) : 결과가 튜플로 반환되는 가변 positional 방식
                * argument에 쓰는 *는 unpacking 
                * 사용자에게 입력을 받을 때 유용하게 쓰일 수 있다. 특히 하나가 될지 여러개가 될지 모르는 상황에서
            * (**a) : 결과가 딕셔너리로 반환되는 가변 keyword 방식


    * ex)
        * positional only = /
        * / * **

In [113]:
 def xx(a,b):
    print(a+2*b)

In [114]:
# positional
xx(2,3)

8

In [115]:
# keyword
xx(a = 2, b=3)

8

In [116]:
def xxx(a=3,b):
    print(a,b*3)

SyntaxError: non-default argument follows default argument (300200983.py, line 1)

In [117]:
def xxx(b, a=3):
    print(a,b*3)

In [118]:
def xxxx(a=1, b=3, c=2, d=4):
    print(a, b*3)

In [119]:
xxxx(a=1, d=4)

1 9

In [120]:
# 혼용
xxxx(1,d=4)

1 9

In [122]:
# /
def y(a,/,b):
    print(a,b)

In [123]:
y(a=1, b=2)

TypeError: y() got some positional-only arguments passed as keyword arguments: 'a'

In [124]:
y(1, b=2)

1 2

In [125]:
y(1, 2)

1 2

In [127]:
# * : unpacking
def z(a, * ,b): 
    print(a,b)

In [128]:
z(1,2)

TypeError: z() takes 1 positional argument but 2 were given

In [131]:
z(a=1, b=2)

1 2

In [132]:
z(1, b=2)

1 2

In [133]:
def zz(*a):
    print(a)

In [134]:
zz()

()

In [135]:
zz(1)

(1,)

In [136]:
zz(1,2)

(1, 2)

In [137]:
zz(a=1)

TypeError: zz() got an unexpected keyword argument 'a'

In [142]:
def zz(*a, b):
    print(a, b)

In [143]:
zz(1,2)

TypeError: zz() missing 1 required keyword-only argument: 'b'

In [144]:
zz(a=(1,2), b=1)

TypeError: zz() got an unexpected keyword argument 'a'

In [141]:
zz(1, 2, b=1)

(1, 2) 1

In [148]:
def zzz(**a, b):
    print(b, a)
# SyntaxError: invalid syntax
# 가변 키워드 방식이기 때문에, positional이 가능한 b가 앞에 있으면 안된다

SyntaxError: invalid syntax (786355235.py, line 1)

In [150]:
def zzz(b, **a):
    print(b, a)

In [152]:
zzz(1)

1 {}

In [153]:
# 가변 positional
def t(*a):
    print(a)

In [157]:
t([1,2,3,4])
# 가변 positional이므로 하나의 인자를 받아 0번째 자리에 리스트가 저장된 튜플을 반환

([1, 2, 3, 4],)

In [159]:
t(*[1,2,3,4])  
# argument에 쓰는 *는 unpacking
# argument를 unpacking하는 것으로 하나씩 읽어드림 
# 따라서 리스트에 있는 element를 하나씩 반환

(1, 2, 3, 4)

In [158]:
t(1,2,3,4)

(1, 2, 3, 4)

In [160]:
# dynamic keyword
def tt(**a):
    print(a)

In [161]:
xxx = {'a':1, 'b':2}

In [162]:
tt(**xxx)

{'a': 1, 'b': 2}

In [163]:
tt(xxx)

TypeError: tt() takes 0 positional arguments but 1 was given

In [164]:
def t(*a):
    print(a)

In [165]:
t(*xxx)

('a', 'b')

In [166]:
a = {'a':1, 'b':2}
c = {'a':3, 'c':4}

In [167]:
{**a, **c}

{'a': 3, 'b': 2, 'c': 4}